
# Replace the placeholders with your actual database credentials
DATABASE_URL="mysql://{USER}:{PASSWORD}l@localhost:3306/{DATABASE_NAME}"

DATABASE_NAME=""
DATABASE_PASSWORD=""
DATABASE_USER=""
DATABASE_HOST=""
DATABASE_PORT="3306"

# Replace with your actual JWT secret key you can insert any random string for local development
JWT_SECRET=""
JWT_EXPIRATION="30m"

WEBHOOK_URL=""